<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FMLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FoxMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FoxMusicLegacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A2BFEA62C2C44450009ADAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2BFEDA2C2C44460009ADAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6037962C2D804900482179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6037B12C2D804A00482179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6037CB2C2D81DC00482179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6037E12C2D81DC00482179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6038032C2D83F800482179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6038112C2D83F800482179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
